/* Default light mode styles */
body {
    background-color: #f4f2fb;
    font-family: "Silkscreen", 'Courier New', Courier, monospace;
    transition: background-color 0.3s, color 0.3s;
}

.navbar .nav-item:hover {
    background-color: lightgray;
    border-radius: 20px;
}

header {
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
}

.header-light {
    background-image: linear-gradient(#baacfa, #f4f2fb);
    color: rgb(0, 0, 0);
}

.about-me {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial', sans-serif;
}

h2, h3 {
    color: blue;
}

header h2 {
    font-size: small;
    color: blue;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

ul {
    margin: 0 35px;
}

.content {
    padding: 20px;
    margin: 20px;
    cursor: pointer;
}

.content-mid {
    padding: 20px;
    margin: 20px;
    cursor: pointer;
}

.content:hover {
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-radius: 15px;
    background-image: linear-gradient(to bottom left, #baacfa,  #f4f2fb, #f4f2fb);
}

.content-mid:hover {
    border-left: none;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, #baacfa, #f4f2fb, #f4f2fb);
}

li:hover {
    background-color: lightgray;
}

footer {
    padding: 25px 0;
}

.footer-light {
    background-image: linear-gradient(to top, #baacfa, #f4f2fb);
}
