/* Default light mode styles */
body {
    font-family: "Silkscreen", 'Courier New', Courier, monospace;
}

.navbar .nav-item:hover {
    background-color: lightgray;
    border-radius: 20px;
}

header {
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
}

.header-light {
    background-image: linear-gradient(#baacfa, white);
    color: rgb(0, 0, 0);
}

.about-me {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial', sans-serif;
}

h2, h3 {
    color: blue;
}

header h2 {
    font-size: small;
    color: blue;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

ul {
    margin: 0 35px;
}

.content {
    padding: 20px;
    margin: 20px;
    cursor: pointer;
}

.content-mid {
    padding: 20px;
    margin: 20px;
    cursor: pointer;
}

.content:hover {
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-radius: 15px;
    background-image: linear-gradient(to bottom left, #baacfa, white, white);
}

.content-mid:hover {
    border-left: none;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, #baacfa, white, white);
}

li:hover {
    background-color: lightgray;
}

footer {
    padding: 25px 0;
}

.footer-light {
    background-image: linear-gradient(to top, #baacfa, white);
}

/* Dark mode styles */
body.dark-mode {
    background: #4a3f83;
    color: white;
}

body.dark-mode .list-group-item {
    background-color: #444;
    color: white;
}

body.dark-mode .list-group-item:hover {
    background-color: #c5bebe;
}

body.dark-mode .content {
    color: white;
}

body.dark-mode .content:hover {
    background-image: linear-gradient(to bottom left, #444, #121212, #121212);
}

body.dark-mode .content-mid:hover {
    background-image: linear-gradient(to bottom right, #444, #121212, #121212);
}

body.dark-mode h1, body.dark-mode h2, body.dark-mode h3, body.dark-mode h4, body.dark-mode h5, body.dark-mode h6 {
    color: #f1f1f1;
}

body.dark-mode p {
    color: #ccc;
}

/* Positioning for the light/dark mode toggle icon */
#theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
    cursor: pointer;
}

/* Dark Mode Header and Footer */
.header-dark {
    background-image: linear-gradient(to top, #4a3f83, #2e2b47);
    color: #f1f1f1;
}

.footer-dark {
    background-image: linear-gradient(to bottom, #4a3f83, #2e2b47);
}