/* General Body Styles */
body {
    background-color: $color-light-bg;
    font-family: $font-body;
    transition: background-color 0.3s, color 0.3s;

    &.dark-mode {
        background-color: $color-dark-bg;
        color: $color-dark-text;
    }
}

p {
    font-family: 'Courier New', Courier, monospace;

    body.dark-mode & {
        color: $color-dark-text;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-heading;
}

h2,
h3 {
    color: blue;
}

h3 {
    color: black !important;

    body.dark-mode & {
        color: $color-dark-text !important;
    }
}