/* Cards */
.card {
    &.border-secondary {
        background-color: $color-light-bg;
        border-color: #6c757d;

        body.dark-mode & {
            background-color: #2e2b47;
            border-color: #6c757d;
        }

        .card-header.bg-secondary {
            background-color: $color-light-bg;

            body.dark-mode & {
                background-color: #4a3f83;
            }
        }

        .card-body {
            color: $color-light-text;

            body.dark-mode & {
                color: $color-dark-text;
            }
        }
    }
}