/* Carousel */
.carousel {
    border: solid $color-gradient-start;

    .carousel-item img {
        object-fit: cover;
        width: 100%;
        height: 325px;
    }

    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.5);

        h3 {
            color: white !important;
        }
    }
}