/* Variables */
$font-body: "Silkscreen", 'Courier New', Courier, monospace;
$font-heading: 'Arial', sans-serif;

$color-light-bg: #f4f2fb;
$color-light-text: rgb(0, 0, 0);
$color-dark-bg: #121212;
$color-dark-text: #e0e0e0;
$color-hover-light: lightgray;
$color-hover-dark: #333;
$color-gradient-start: #baacfa;
$color-gradient-end: #f4f2fb;
$color-dark-main: #4a3f83;